<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Sign In | Ichthys Genomics</title>
        <link rel="stylesheet" type="text/css" href="./css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="./css/grid.css"/>
        <link rel="stylesheet" type="text/css" href="./css/login.css"/>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="header">
                    <img class="logo" height="30" src="./img/icg_logo@2x.png" alt="ichthys genomics" title="ichthys genomics"/>
                </div>
            </div>
            <div class="row">
                <div class="form">
                    <input class="inp-base" type="text" placeholder="Email Address" value=""/>
                    <input class="inp-base" type="password" placeholder="Password" value=""/>
                    <div class="btn-submit">
                        <span>Sign In</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="copyright">
                    <span class="copy">© 2018 Ichthys Genomics</span>
                </div>
            </div>
        </div>
    </body>
</html>